/* simple design for phone screen so does not scale to pc fullscreen. Designed in accordance to a a Figma file.*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    
}

nav {
    height: 70px;
    box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

nav > img {
    margin-left: 30px;
    height: 31px;
    width: 100px;
}

section {
    margin: 26px 36px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero--grid {
    max-width: 400px;
    align-self: center;
}

.hero--title {
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 110%;
}

.hero--desc {
    margin-top: 0;
    width: 320px;
    line-height: 110%;
}

/* used flex-box to style the card component */

.card {
    font-size: 12px;
    line-height: 110%;
    flex: 0 0 auto;       
    display: flex;          
    flex-direction: column; 
    position: relative;
}

.card > p {
    margin: 9px 0;
}

.card--photo {
    width: 176px;
    height: 235px;
    border-radius: 9px;
}

/* used flex-box to align the star on the rating */

.card--rating {
    display: flex;
    align-items: center;
    height: 14px;
    margin-top: 9px;
}

.card--rating > img {
    width: 14px;
    height: 14px;
    margin-right: 2px;
}

.card--rating > p > span {
    color: #918E9B;
}

/* used flex-box to make the cards a scrollable list */

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

/* used positon to place the badges onto the cards */

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}